<button type="button" name="button">
<!-- <a href="#">Créer un Joueur!</a> -->
<a ui-sref="anon.newPlayer">Créer un Joueur!</a>
</button>

<div class="terrain">
  <div class="poste">
    <img class="bu2" src="../img/maillot.png">
    <span id="bu2">O.Giroud</span>
    <img class="bu1" src="../img/maillot.png">
    <span id="bu1">A.Griezman</span>
    <img class="mc2" src="../img/maillot.png">
    <span id="mc2">P.Pogba</span>
    <img class="mc1" src="../img/maillot.png">
    <span id="mc1">N.Kante</span>
    <img class="mg" src="../img/maillot.png">
    <span id="mg">T.Lemar</span>
    <img class="md" src="../img/maillot.png">
    <span id="md">O.Dembele</span>
    <img class="dc2" src="../img/maillot.png">
    <span id="dc2">L.Koscielny</span>
    <img class="dc1" src="../img/maillot.png">
    <span id="dc1">R.Varane</span>
    <img class="dg" src="../img/maillot.png">
    <span id="dg">B.Mendy</span>
    <img class="dd" src="../img/maillot.png">
    <span id="dd">S.Corchia</span>
    <img class="gk" src="../img/maillotGk.png">
    <span id="gk">H.Lloris</span>
  </div>
</div>
